<a href="https://colab.research.google.com/github/Anuragsingh007-bit/Data-science-with-generativeAi-masters/blob/main/pythonday1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int('123')

123

In [5]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [6]:
print("Hello World")

Hello World

In [7]:
print(123)

123

In [8]:
print('Hello World')

Hello World

In [9]:
age=32
print("My age is:",age)

My age is: 32

In [12]:
# formatted string
print(f"my age no. is: {age}")

my age no. is: 32

In [13]:
name = "anurag singh"
age = 21
print(f"my name and age is:{name,age}")

my name and age is:('anurag singh', 21)

In [14]:
print("My name is {} and age is {}".format(age,name))

My name is 21 and age is anurag singh

In [15]:

##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is anurag singh and age is 21

In [16]:
name="Krish Naik"
age=32
degree="BE"

" My age is 32 and i have completed: my degree of BE with the name of Krish Naik"

' My age is 32 and i have completed: my degree of BE with the name of Krish Naik'

In [17]:
print("My age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

My age is 32 and i have completed: my degree BE with the name of Krish Naik

In [18]:
print(f"My age is {age} and I have completed: my degree of {degree} with the name of {name}")

My age is 32 and I have completed: my degree of BE with the name of Krish Naik

In [19]:
'''Control Flow
Decision Making statements
It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
Structure of decision making evaluate several expressions that provide True or False as a result.
It is up to you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to be discussed below:

if
if else
if elif else
Nested if
Single Statement Suites'''

'Control Flow\nDecision Making statements\nIt is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.\nStructure of decision making evaluate several expressions that provide True or False as a result.\nIt is up to you to decide which type of action want to take and execute the statements based upon True and False.\nThese are several topics of decision making which going to be discussed below:\n\nif\nif else\nif elif else\nNested if\nSingle Statement Suites'

'''Control Flow
Decision Making statements
It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
Structure of decision making evaluate several expressions that provide True or False as a result.
It is up to you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to be discussed below:

if
if else
if elif else
Nested if
Single Statement Suites'''

In [20]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [21]:
## If Statements
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [22]:
18<=18

True

In [24]:
name=input("Enter the name")

Enter the nameanurag singh

In [25]:
name

'anurag singh'

In [26]:
age=int(input("Enter your age"))

Enter your age22

In [27]:
type(age)

int

In [28]:
##Task
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [29]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age20
You are young blood

In [30]:
22>=18 and 22<=45

True

In [31]:
age=int(input("Enter the age"))
if  age>=18 and age <=45:
    print("You are young blood")

Enter the age22
You are young blood

In [32]:
## if else satetements
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("you are young blood!")

Enter the age50
you are young blood!

In [33]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

product_price = int(input("Enter the product price"))
if product_price>1000 :
  print("The price of the product is {}".format(product_price*0.8))
else :
  print("The price of the product is {}".format(product_price*0.7))

Enter the product price100
The price of the product is 70.0

In [34]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

product_price = int(input("Enter the product price"))
if product_price>1000 :
  print("The price of the product is {}".format(product_price*0.8))
else :
  print("The price of the product is {}".format(product_price*0.7))

Enter the product price12000
The price of the product is 9600.0

In [35]:
int((20/100)*5000)

1000

In [46]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount
price=int(input("enter the price of product"))
if price>3000:
  print("product >3000 rs 20% off{}".format(price*0.8))
elif price==4000:
  print("price is ==4000 you get a trip to Goa")
elif price >= 2000  and price <= 3000:
  print("print the product price after removing the discount{}:".format(price*0.7))
elif  price ==2999:
  print("u will get adiitional gift")
elif price >= 100  and price <= 2000:
  print("print the product price after removing the discount{}:".format(price*0.4))
else:
  print("invalid")

enter the price of product25000
product >3000 rs 20% off20000.0

In [45]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price5000
The price of the product is 4000.0

In [47]:
#comaprission operator
True==True

True

In [48]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number100
Value is less than equal to 999

In [49]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:print("Go Home")

Enter the number1200
Go Home

In [50]:
# while loop while-else
joining_age=25
while joining_age<=60:
  print(joining_age)
  joining_age=joining_age+1
else:
  print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [52]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount != 0 :
  print(total_amount)
  total_amount=total_amount-100
else:
  print("balance empty")

1000
900
800
700
600
500
400
300
200
100
balance empty

In [53]:
lst=["Krish",1,2,3,4,"apple","banana"]

In [54]:
type(lst)

list

In [55]:
lst[4]

4

In [56]:
lst

['Krish', 1, 2, 3, 4, 'apple', 'banana']

In [57]:
for x in lst:
    print(x)

Krish
1
2
3
4
apple
banana

In [61]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for x in fruits_list:
  print(x)
  if x=="Cherry":
   print("cher")

Mango
Cherry
cher
Apple
Papaya
Banana

In [62]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [63]:
fruit[2]

'n'

In [64]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [65]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [66]:
## Nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******

In [67]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [68]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple